

body {
    background-image: url(rosa.jpg);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
} /*definindo imagem de fundo, sua posição, tamanho e sem repetir a imagem*/

   
.container{
    margin: 0;
}/*definindo margem 0*/

nav{
    text-align: center;
} /*alinhando os textos em nav para o centro*/

nav .logo{
    font-size: 80px;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: bold;
}/*definindo tamanho, estilo da fonte, cor, negrito para o logo (nicolly brasil)*/

nav ul{
    display: flex;
    justify-content: center; 
}/*utilizando flex para deixar o menu na horizontal*/

nav ul li{
    list-style: none;
    padding: 20px;
}/*retirando maracador de lista e definindo o espaço entre esse elemento e outro para 20px*/

nav ul li a{
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(4, 10, 34);
    border-radius: 30px;
    transition: 0.7s;
    background-color: rgb(254, 254, 254);
}/*definindo o espaço entre esse elemento e outro para 20px(top e bottom) e 30px(left e right), retirando a marcação de link
definindo o tamanho da fonte, cor, arredondando a borda, adicionando uma trasição e cor de fundo*/

nav ul li a:hover{
    background-color: rgb(175, 79, 177);
    color: white;
}/*cor de fundo e cor da fonte quando o cursor do mouse está sobre o menu*/


.descricao{
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(4, 10, 34);
    border-radius: 30px;
    transition: 0.7s;
    background-color: rgb(254, 254, 254);
    text-align: center;
    margin: 100px;
}/*espaço entre esse elemento e outro, retirando decorações de texto, tamanho da fonte, cor da fonte, arredondando a borda, transição,
cor de fundo, alinhamento de texto, margem*/

.portfolio a {
    display: flex;
    justify-content: center;
    padding: 80px;
    margin: 80px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(4, 10, 34);
    border-radius: 30px;
    transition: 0.7s;
    background-color: rgb(254, 254, 254);
}/*segue o mesmo reciocínio do mmenu*/

.portfolio a:hover{
    background-color: rgb(175, 79, 177);
    color: white;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
/*cor de fundo do formulário, distancia entre esse elemento e outro, curvatura da borda e sombra da caixa*/

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}/*formato de display em block para o label do formulário, tamanho da margem na parte inferior, negrito e cor*/

input, textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}/*largura, distancia entre esses elementos e outros, margem inferior, tamanho da borda, 
tipo e cor e curvatura da borda para os inputs e área de texto*/

button {
    background-color: rgb(175, 79, 177); 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}/*cor de fundo do botão, cor da fonte, distancia entre esse elemento e outro top/bottom e left/right, 
sem borda, curvatura da borda e seta vira mãozinha ao passar pelo botão*/

button:hover {
    background-color: rgb(147, 16, 168);
}
/*cor do botão ao passar com o cursor do mouse por cima*/
